@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    color: #fefefe;
    background-image: linear-gradient(90deg, #0f0c29, #302b63, #24243e);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(47, 79, 221, 0.678);
    border: 2px solid #fefefe;
    width: min-content;
    height: 100px;
    margin: 0 auto;
    top: 38%;
    position: absolute;
    border-radius: 10px;
    background-color: #403a8a;
}

.nav-bar {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
}

.nav-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    padding-top: 26px;
}

.drop-down-menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
    padding: 30px;
    width: 400px;
}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transition: .3s;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


.car-menu h1:hover {
    border-bottom: 2px solid #fefefe;
}

.drop-car-menu {
    display: none;
}

.menu-car-model {
    display: none;
}

.bike-menu h1:hover {
    border-bottom: 2px solid #fefefe;
}

.drop-bike-menu {
    display: none;
}

.menu-bike-model {
    display: none;
}

.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: #4a41a8;
    border: 2px solid #fefefe;
    border-radius: 10px;
}

@media (max-width:700px) {
    .wrapper {
        height: fit-content;
        width: fit-content;
    }

    .nav-bar {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .nav-title {
        display: flex;
        justify-content: center;
    }

    .drop-down-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}